# Family for NIWA Linux jobs

    [[NIWA_LINUX]]
        inherit = LINUX

    [[NIWA_FITZROY_EXTRACT]]
        inherit = NIWA_LINUX, EXTRACT
        [[[environment]]]
            JULES_PLATFORM = niwa-pwr6-xlf

###############################################################################
## Comparison jobs
###############################################################################

    [[NIWA_FITZROY_NETCDF_COMPARISON]]
        inherit = NIWA_LINUX, KGO_CHECK, COMPARISON
        [[[environment]]]
            CMD_CMP = /opt/niwa/nccmp/Linux/1.8.2.0/bin/nccmp -d --force
            KGO_DIR = /oper/admin/um_fcm/jules/rose-stem-kgo/{{ KGO_VERSION }}

    [[nccmp_niwa_fitzroy_xlf_loobos_gl4]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_gl4/output

    [[nccmp_niwa_fitzroy_xlf_loobos_gl7]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_gl7/output

    [[nccmp_niwa_fitzroy_xlf_loobos_gl8]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_gl8/output

    [[nccmp_niwa_fitzroy_xlf_loobos_euro4]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_euro4/output

    [[nccmp_niwa_fitzroy_xlf_loobos_forecast]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_forecast/output

    [[nccmp_niwa_fitzroy_xlf_loobos_ukv]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_ukv/output

    [[nccmp_niwa_fitzroy_xlf_loobos_trif]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_trif/output

    [[nccmp_niwa_fitzroy_xlf_loobos_julesc]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_julesc/output

    [[nccmp_niwa_fitzroy_xlf_loobos_jules_c1p1]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_jules_c1p1/output

    [[nccmp_niwa_fitzroy_xlf_loobos_jules_c1p1_fire]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_jules_c1p1_fire/output

    [[nccmp_niwa_fitzroy_xlf_loobos_jules_layeredcn]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_jules_layeredcn/output

    [[nccmp_niwa_fitzroy_xlf_loobos_jules_cn]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_jules_cn/output

    [[nccmp_niwa_fitzroy_xlf_loobos_jules_es_1p6]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_jules_es_1p6/output

    [[nccmp_niwa_fitzroy_xlf_loobos_fire]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_fire/output

    [[nccmp_niwa_fitzroy_xlf_loobos_crops]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_crops/output

    [[nccmp_niwa_fitzroy_xlf_loobos_prescribe_sthuf]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_prescribe_sthuf/output

    [[nccmp_niwa_fitzroy_xlf_loobos_irrig]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_irrig/output

    [[nccmp_niwa_fitzroy_xlf_loobos_daily_disagg]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_daily_disagg/output

    [[nccmp_niwa_fitzroy_xlf_loobos_crm1_traitF]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_crm1_traitF/output

    [[nccmp_niwa_fitzroy_xlf_loobos_crm2_traitF]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_crm2_traitF/output

    [[nccmp_niwa_fitzroy_xlf_loobos_crm3_traitF]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_crm3_traitF/output

    [[nccmp_niwa_fitzroy_xlf_loobos_crm4_traitF]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_crm4_traitF/output

    [[nccmp_niwa_fitzroy_xlf_loobos_crm5_traitF]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_crm5_traitF/output

    [[nccmp_niwa_fitzroy_xlf_loobos_crm6_traitF]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_crm6_traitF/output

    [[nccmp_niwa_fitzroy_xlf_loobos_crm6_traitT]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_crm6_traitT/output

    [[nccmp_niwa_fitzroy_xlf_loobos_crm6_traitF_srfT]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_loobos_crm6_traitF_srfT/output

    [[nccmp_niwa_fitzroy_xlf_gswp2_rivers]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_gswp2_rivers/output

    [[nccmp_niwa_fitzroy_xlf_gswp2_rivers_restart]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_gswp2_rivers_restart/output

    [[nccmp_niwa_fitzroy_xlf_gswp2_trip]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_gswp2_trip/output

    [[nccmp_niwa_fitzroy_xlf_gswp2_trip_restart]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_gswp2_trip_restart/output

    [[nccmp_niwa_fitzroy_xlf_gswp2_closures]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_gswp2_closures/output

    [[nccmp_niwa_fitzroy_xlf_gswp2_euro4]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_gswp2_euro4/output

    [[nccmp_niwa_fitzroy_xlf_gswp2_gl4]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_gswp2_gl4/output

    [[nccmp_niwa_fitzroy_xlf_gswp2_gl7]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_gswp2_gl7/output

    [[nccmp_niwa_fitzroy_xlf_gswp2_ukv]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_gswp2_ukv/output

    [[nccmp_niwa_fitzroy_xlf_eraint_rfm_2ddata]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_eraint_rfm_2ddata/output

    [[nccmp_niwa_fitzroy_xlf_eraint_trip_2ddata]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_eraint_trip_2ddata/output

    [[nccmp_niwa_fitzroy_xlf_imogen_layeredc]]
        inherit = NIWA_FITZROY_NETCDF_COMPARISON
        [[[environment]]]
            OUTPUT_DIR = ../niwa_fitzroy_xlf_imogen_layeredc/output


###############################################################################
## Housekeeping jobs
###############################################################################

    [[NIWA_FITZROY_HOUSEKEEPING]]
        inherit = NIWA_LINUX, HOUSEKEEPING

    [[housekeep_niwa_fitzroy_xlf_loobos_gl4]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_gl4

    [[housekeep_niwa_fitzroy_xlf_loobos_gl7]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_gl7

    [[housekeep_niwa_fitzroy_xlf_loobos_gl8]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_gl8

    [[housekeep_niwa_fitzroy_xlf_loobos_euro4]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_euro4

    [[housekeep_niwa_fitzroy_xlf_loobos_forecast]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
           DIR1 = ../niwa_fitzroy_xlf_loobos_forecast

    [[housekeep_niwa_fitzroy_xlf_loobos_ukv]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_ukv

    [[housekeep_niwa_fitzroy_xlf_loobos_trif_spinup]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_trif_spinup

    [[housekeep_niwa_fitzroy_xlf_loobos_trif]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_trif

    [[housekeep_niwa_fitzroy_xlf_loobos_julesc_spinup]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_julesc_spinup

    [[housekeep_niwa_fitzroy_xlf_loobos_julesc]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_julesc

    [[housekeep_niwa_fitzroy_xlf_loobos_jules_c1p1]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_jules_c1p1

    [[housekeep_niwa_fitzroy_xlf_loobos_jules_c1p1_fire]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_jules_c1p1_fire

    [[housekeep_niwa_fitzroy_xlf_loobos_jules_layeredcn_spinup]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_jules_layeredcn_spinup

    [[housekeep_niwa_fitzroy_xlf_loobos_jules_layeredcn]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_jules_layeredcn

    [[housekeep_niwa_fitzroy_xlf_loobos_jules_cn_spinup]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_jules_cn_spinup

    [[housekeep_niwa_fitzroy_xlf_loobos_jules_cn]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_jules_cn

    [[housekeep_niwa_fitzroy_xlf_loobos_jules_es_1p6_spinup]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_jules_es_1p6_spinup

    [[housekeep_niwa_fitzroy_xlf_loobos_jules_es_1p6]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_jules_es_1p6

    [[housekeep_niwa_fitzroy_xlf_loobos_crops]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_crops

    [[housekeep_niwa_fitzroy_xlf_loobos_prescribe_sthuf]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_prescribe_sthuf

    [[housekeep_niwa_fitzroy_xlf_loobos_irrig]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_irrig

    [[housekeep_niwa_fitzroy_xlf_loobos_fire_spinup]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_fire_spinup

    [[housekeep_niwa_fitzroy_xlf_loobos_fire]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_fire

    [[housekeep_niwa_fitzroy_xlf_loobos_daily_disagg]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_daily_disagg

    [[housekeeping_niwa_fitzroy_xlf_loobos_crm1_traitF]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_crm1_traitF

    [[housekeeping_niwa_fitzroy_xlf_loobos_crm2_traitF]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_crm2_traitF

    [[housekeeping_niwa_fitzroy_xlf_loobos_crm3_traitF]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_crm3_traitF

    [[housekeeping_niwa_fitzroy_xlf_loobos_crm4_traitF]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_crm4_traitF

    [[housekeeping_niwa_fitzroy_xlf_loobos_crm5_traitF]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_crm5_traitF

    [[housekeeping_niwa_fitzroy_xlf_loobos_crm6_traitF]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_crm6_traitF

    [[housekeeping_niwa_fitzroy_xlf_loobos_crm6_traitT]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_crm6_traitT

    [[housekeeping_niwa_fitzroy_xlf_loobos_crm6_traitF_srfT]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_loobos_crm6_traitF_srfT

    [[housekeep_niwa_fitzroy_xlf_gswp2_rivers]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_rivers

    [[housekeep_niwa_fitzroy_xlf_gswp2_rivers_spinup]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_rivers_spinup

    [[housekeep_niwa_fitzroy_xlf_gswp2_rivers_restart]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_rivers_restart

    [[housekeep_niwa_fitzroy_xlf_gswp2_trip]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_trip

    [[housekeep_niwa_fitzroy_xlf_gswp2_trip_spinup]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_trip_spinup

    [[housekeep_niwa_fitzroy_xlf_gswp2_trip_restart]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_trip_restart

    [[housekeep_niwa_fitzroy_xlf_gswp2_closures]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_closures

    [[housekeep_niwa_fitzroy_xlf_gswp2_euro4]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_euro4

    [[housekeep_niwa_fitzroy_xlf_gswp2_gl4]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_gl4

    [[housekeep_niwa_fitzroy_xlf_gswp2_gl7]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_gl7

    [[housekeep_niwa_fitzroy_xlf_gswp2_ukv]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_gswp2_ukv

    [[housekeep_niwa_fitzroy_xlf_eraint_rfm_2ddata]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_eraint_rfm_2ddata

    [[housekeep_niwa_fitzroy_xlf_eraint_trip_2ddata]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_eraint_trip_2ddata

    [[housekeep_niwa_fitzroy_xlf_imogen_layeredc_spinup]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_imogen_layeredc_spinup

    [[housekeep_niwa_fitzroy_xlf_imogen_layeredc]]
        inherit = NIWA_FITZROY_HOUSEKEEPING
        [[[environment]]]
            DIR1 = ../niwa_fitzroy_xlf_imogen_layeredc

