###############################################################################
## Common variable definitions
###############################################################################
{%- set KGO_VERSION = 'vn5.2' %}
